.main-contents-box {
    width: 1000px;
}

.main-current-contents {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 300px;
}

@media (max-width:480px) {
    .main-current-contents {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .item {
        width: 100%;
    }
    
}